@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

body {
  background-color: rgb(18, 18, 46);
  padding: 0%;
  margin: 0%;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #555; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(112, 112, 112); 
}

.text-center {
  color: aliceblue;
  font-family: 'Itim', sans-serif;
  margin-bottom: 27px;
}

.area {
  display: flex;
  flex-direction: row;
}

.editor{
  padding: 10px 10px 10px 10px;
  background-color:rgb(12, 12, 29);
  width: 50%;
  height: 88vh;
}


.preview {
  padding: 10px 20px 10px 30px;
  color: aliceblue;
  border: 10px solid rgb(12, 12, 29);
  width: 50%;
  height: 88vh;
  overflow: auto;
}

.header-text {
  font-family: 'Itim', sans-serif;
  font-size: 20px;
  text-align: center;
  border-bottom: 1px solid aliceblue;
  margin-bottom: 10px;
}

@media screen and (max-width: 780px) {
  .area {
    flex-direction: column;
  }

  .editor {
    width: 100%;
    height: 45vh;
  }

  .preview {
    width: 100%;
    height: 45vh;
  }
}