@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

body {
  background-color: rgb(18, 18, 46);
  padding: 0%;
  margin: 0%;
}

.text-center {
  color: white;
  font-family: 'Itim', sans-serif;
  margin-bottom: 27px;
}

.editor{
  padding: 10px 10px 10px 10px;
  background-color: #3b3b3b;
  width: 50%;
  height: 88vh;
}
